<div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Pick Me</h4>
  	 			<ul>
  	 				<li><a href="#">Про нас</a></li>
  	 				<li><a href="#">Наш сервіс</a></li>
  	 				<li><a href="#">Конфіденціальність</a></li>
  	 				<li><a href="#">Скидки</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Допомога</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Доставка</a></li>
  	 				<li><a href="#">Повернення</a></li>
  	 				<li><a href="#">Стасус замовлення</a></li>
  	 				<li><a href="#">Проплата</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Що ми маємо</h4>
  	 			<ul>
  	 				<li><a href="#">Дивитись на сайті</a></li>
  	 				<li><a href="#">Сумки</a></li>
  	 				<li><a href="#">Взуття</a></li>
  	 				<li><a href="#">Плаття</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Слідкуй за нами</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>